# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

EnterpriseWithMux/unicorn/vendor/*
!EnterpriseWithMux/unicorn/vendor/vendor.json

EnterpriseWithEcho/target_notes/vendor/*
!EnterpriseWithEcho/target_notes/vendor/vendor.json

EnterpriseWithHttpRouter/tencent_vote/tencent_vote
